registry=https://pkgs.dev.azure.com/Deuna/_packaging/artifactory/npm/registry/
always-auth=true
//pkgs.dev.azure.com/Deuna/_packaging/artifactory/npm/registry/:_authToken=5XVULYfWAvaj7ZtSf2w436UcWvUXXC8g3wdLIf4f6U6VpjoaiOtZJQQJ99BGACAAAAAihC6zAAASAZDO1YKT
